# Data & large artifacts (Kaggle)
input/
output/
data/
*.csv
*.parquet

# Kaggle credentials
kaggle.json
.kaggle/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/
env/

# Notebooks
.ipynb_checkpoints/

# Tooling / env
.env
.mypy_cache/
.ruff_cache/

# OS / editor
.DS_Store
.idea/
.vscode/
